@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: rgba(255, 255, 255, 0.9);
  --color-secondary: #008f11;
  --color-primary-darkmode: rgba(40, 40, 40, 0.9);
  --color-btn-hover: #3f8735 ;
  --spacing-heading: 70px;
  --text-heading: 50px;
  --text-sub-heading: 25px;
  --text-paragraph: 20px;
}

